<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
      h1{
        color: black;
          font-size: 50px;
      }
  </style>
 </head>
 <h1>Background Verification</h1>

<div>
<div class="container">
<br>
<div  class="navbar navbar-nav bg-light">
  <a routerLink="app-login"><h3><b style="color: navy;">Login</b></h3></a>
</div>
</div>
<br>
<router-outlet></router-outlet>

 






















































